In [1]:
import pickle

with open('./wordrank_data/pk_content_hashtag.pkl', 'rb') as f:
    pk_content_hashtag = pickle.load(f)

In [2]:
from collections import defaultdict

## {'location_pk': texts}
loc_pk_texts = defaultdict(list)
for pk, dic in pk_content_hashtag.items():
    loc_pk_texts[dic['location_pk']].append(dic['join'])

In [13]:
import pandas as pd

df = pd.read_csv('./wordrank_data/df_loc_keywords_20_mincnt10.csv')

In [14]:
num_of_document = []
for loc_pk in df['location_pk'].tolist():
    num_of_document.append(len(loc_pk_texts[loc_pk]))

print(len(df))
print(len(num_of_document))

5572
5572

In [10]:
num_of_document[:2]

[58532, 316807]

In [15]:
df['num_of_document'] = pd.Series(num_of_document)
df = df[['location_pk', 'name', 'num_of_document', 'keywords_score', 'raw']]
df.head()

,location_pk,name,num_of_document,keywords_score,raw
0,221484355286107,"Jeonju, Korea",58532,"[('전주', 1627.6018614566058), ('객리단길', 151.3406...","{'pk': 221484355286107, 'lat': 35.823659221906..."
1,245713997,Jeonju,316807,"[('전주', 5962.7009065783295), ('일상', 584.442235...","{'pk': 245713997, 'lat': 35.8219, 'lng': 127.1..."
2,345849689434417,베르자르당,280,"[('베르자르당', 10.495910772422272), ('전주', 9.20709...","{'pk': 345849689434417, 'lat': 35.362007, 'lng..."
3,242947360,전주한옥마을,13570,"[('전주', 522.7433625150087), ('여행', 97.67013619...","{'pk': 242947360, 'lat': 37.5287516782, 'lng':..."
4,110836031109980,카페루츠,43,"[('전주', 5.874608927241462), ('오늘도', 3.18490744...","{'pk': 110836031109980, 'lat': 35.821234091394..."

In [16]:
df.to_csv('./wordrank_data/df_loc_keywords_20_mincnt10.csv', index=False, encoding='utf-8')