In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./address.csv')
df = df.replace(np.nan, '0')
df.head()

      total_region city1         city2 country village
0            서울특별시     0  서울 서울시 서울특별시       0       0
1               서울     0  서울 서울시 서울특별시       0       0
2              서울시     0  서울 서울시 서울특별시       0       0
3        서울특별시 종로구     0  서울 서울시 서울특별시     종로구       0
4  서울특별시 종로구 청운효자동     0  서울 서울시 서울특별시     종로구   청운효자동

In [2]:
cols = df.columns
cols

Index(['total_region', 'city1', 'city2', 'country', 'village'], dtype='object')

In [21]:
from collections import defaultdict

region_permutation = defaultdict(list)
for _, city1, city2, country, village in df.values.tolist():
    if city1 != '0':
        alias_name = city1.split()
        if len(alias_name) > 1:
            for name in alias_name:
                for c2 in city2.split():
                    region_permutation[name].append(c2)
                    for coun in country.split():
                        region_permutation[name].append(c2 + ' ' + coun)
                        region_permutation[name].append(c2 + ' ' + coun + ' ' + village)
                        region_permutation[name].append(coun)
                        region_permutation[name].append(coun + ' ' + village)
                    region_permutation[name].append(c2 + ' ' + village)
                region_permutation[name].append(village)
        else:
            for c2 in city2.split():
                region_permutation[city1].append(c2)
                for coun in country.split():
                    region_permutation[city1].append(c2 + ' ' + coun)
                    region_permutation[city1].append(c2 + ' ' + coun + ' ' + village)
                    region_permutation[city1].append(coun)
                    region_permutation[city1].append(coun + ' ' + village)
                region_permutation[city1].append(c2 + ' ' + village)
            region_permutation[city1].append(village)



    if city2 != '0':
        alias_name = city2.split()
        if len(alias_name) > 1:
            for name in alias_name:
                for c in country.split():
                    region_permutation[name].append(c)
                    region_permutation[name].append(c + ' ' + village)
                region_permutation[name].append(village)
        else:
            for c in country.split():
                region_permutation[city2].append(c)
                region_permutation[city2].append(c + ' ' + village)
            region_permutation[city2].append(village)

    if country != '0':
        alias_name = country.split()
        if len(alias_name) > 1:
            for name in alias_name:
                region_permutation[name].append(village)
        else:
            region_permutation[country].append(village)
            
    if village != '0':
        region_permutation[village] = []

In [24]:
for key, values in region_permutation.items():
    replaced = list(map(lambda x: x.replace('0', ''), values)) # 0 값 치환
    replaced = list(map(lambda x: x.strip(), replaced)) # 양 옆 공백제거
    replaced = list(filter(lambda x: x != '', replaced)) # '' 제거
    replaced = list(set(replaced)) # 중복제거
    region_permutation[key] = replaced

In [26]:
region_permutation['충북'][:5]

['서원구 개신동', '보은 내북면', '충주 산척면', '산외면', '청주 청원구 북이면']

In [27]:
total_region = []
for key, values in region_permutation.items():
    total_region.append(key)
    if values:
        for val in values:
            total_region.append(key + ' ' + val)

total_region = list(set(total_region))
len(total_region)

44759

In [29]:
import pickle

with open('./total_region.pickle', 'wb') as f:
    pickle.dump(total_region, f)

In [30]:
total_region[-10:]

['경기 가평 상면',
 '충청남도 아산시 온양3동',
 '서울특별시 은평구',
 '강원도 강릉 내곡동',
 '제주 제주시 도두동',
 '경기 수원 조원동',
 '인천광역시 서구 검암경서동',
 '춘천시 동산면',
 '장기동',
 '보성군 율어면']

In [36]:
split_region = []
for total_region in df['total_region'].tolist():
    split_region.extend(total_region.split())
split_region = list(set(split_region))
len(split_region)

3962

In [37]:
split_region[:10]

['길음제2동', '고금면', '동충동', '거제제4동', '수색동', '능곡동', '남산면', '덕연동', '응암동', '청운효자동']

In [38]:
with open('./split_region.pickle', 'wb') as f:
    pickle.dump(split_region, f)